.askee-chat {
    width: 100%;

    &__wrapper {
        width: 100%;
    }

    &__title {
        @extend .h2;
        margin: 0 auto 100px;
        text-align: center;

        @media (width <= 767px) {
            margin: 0 auto 50px;
        }
    }

    &__box {
        width: 100%;
        border: 1px solid $theme-color;
        border-radius: 18px;
        padding: 25px;
        min-height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    &__content {
        display: none;
        opacity: 0;
        width: calc(100% - 38px);

        &--active {
            display: block;
            opacity: 1;
        }

        > div {
            width: 100%;
            padding: 0 0 0 36px;
        }
    }

    &__welcome {
        margin: 0;
        display: flex;
        align-items: flex-start;
        gap: 15px;

        &::before {
            content: "";
            display: block;
            background: url("./images/askee-man-small.svg") center/contain no-repeat;
            width: 21px;
            height: 29px;
            flex-shrink: 0;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0 0 0 36px;

        textarea {
            width: 100%;
            height: 25px;
            overflow-y: hidden;
        }

        button {
            flex-shrink: 0;
        }
    }

    &__buttons {
        display: flex;
        gap: 15px;
        margin: 30px auto 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        @media (width <= 767px) {
            justify-content: flex-start;
        }
    }

    &__inner-buttons {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        margin: 30px auto 0;

        &--areas {
            .button {
                display: flex;
                gap: 10px;

                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                }

                &--hr-payroll {
                    &::before {
                        background: url("./images/hr-payroll.svg") center/contain no-repeat;
                    }
                }

                &--hr {
                    &::before {
                        background: url("./images/hr.svg") center/contain no-repeat;
                    }
                }

                &--compliance {
                    &::before {
                        background: url("./images/compliance.svg") center/contain no-repeat;
                    }
                }

                &--know-how {
                    &::before {
                        background: url("./images/know-how.svg") center/contain no-repeat;
                    }
                }

                &--admin-structure-reports {
                    &::before {
                        background: url("./images/admin-structure-reports.svg") center/contain
                            no-repeat;
                    }
                }

                &:hover {
                    &::before {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

    &__info-buttons {
        width: 100%;
    }

    &__info-element {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0 0;

        p {
            margin: 0;
        }

        .button {
            display: flex;
            gap: 10px;

            &::before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
            }

            &--accessibility {
                &::before {
                    background: url("./images/accessibility.svg") center/contain no-repeat;
                }
            }

            &--simple-to-use {
                &::before {
                    background: url("./images/simple-to-use.svg") center/contain no-repeat;
                }
            }

            &--various-areas {
                &::before {
                    background: url("./images/various-areas.svg") center/contain no-repeat;
                }
            }

            &--data-security {
                &::before {
                    background: url("./images/data-security.svg") center/contain no-repeat;
                }
            }

            &--integrations {
                &::before {
                    background: url("./images/integrations.svg") center/contain no-repeat;
                }
            }

            &--reports-and-statements {
                &::before {
                    background: url("./images/reports-and-statements.svg") center/contain no-repeat;
                }
            }

            &:hover {
                &::before {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}
