.footer {
    width: 100%;
    padding: 40px 0;

    &__wrapper {
        width: 100%;
        text-align: center;
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        li {
            a {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    p {
        margin: 10px auto 0;
        max-width: 868px;
    }
}

.theme-frontpage {
    .footer {
        display: none;
    }
}
