.header {
    z-index: 20;
    position: relative;
    width: 100%;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        gap: 15px;
    }
}
