.header {
    z-index: 20;
    position: relative;
    width: 100%;

    &__wrapper {
        width: 100%;
        padding: 15px 0;
    }

    &__row {
        justify-content: space-between;
    }

    &__column {
        width: 100%;

        &--right {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.theme-frontpage {
    .header__column--right {
        display: none;
    }
}
