.single-blog-post {
}

.askee-blog {
    &__single {
        width: 100%;
    }

    &__single-breadcrumbs {
        margin: 0 0 30px;
    }

    &__single-breadcrumbs-list {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__single-breadcrumb-item {
        min-width: 0;

        * {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__single-breadcrumb-item--current {
        max-width: 100%;
    }

    &__single-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

    &__single-main {
        width: 100%;
        min-width: 0;
        max-width: 780px;
    }

    &__single-title {
        margin: 15px 0 0;
    }

    &__single-excerpt {
        margin: 20px 0 0;
    }

    &__single-meta {
        width: 100%;
        max-width: 220px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        padding: 52px 0 0;
        flex-shrink: 0;
    }

    &__single-share {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }

    &__single-share-list {
        margin: 0;
    }

    &__single-image {
        margin: 35px 0 0;
        width: 100%;
        overflow: hidden;
        border-radius: $theme-border-radius;
        aspect-ratio: 16 / 9;
    }

    &__single-image-file {
        width: 100%;
        height: 100%;
    }

    &__single-content {
        margin: 35px 0 0;
    }

    @media (width <= 1199px) {
        &__single-header {
            flex-direction: column;
        }

        &__single-meta {
            max-width: 100%;
            width: 100%;
            padding: 0;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    @media (width <= 767px) {
        &__single-breadcrumbs {
            margin-bottom: 20px;
        }

        &__single-image {
            margin-top: 25px;
            aspect-ratio: 4 / 3;
        }

        &__single-content {
            margin-top: 25px;
        }
    }
}
