/* 
 * Import fonts
 */

/*
 * Typography
 */

h1,
.h1 {
    color: $text-color;
    font-family: $font-primary;
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;

    span {
        font-size: 30px;
        color: $theme-color;

        @media (width <= 767px) {
            font-size: 30px;
        }
    }

    @media (width <= 767px) {
        font-size: 35px;
    }
}

h2,
.h2 {
    color: $text-color;
    font-family: $font-primary;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 600;

    @media (width <= 767px) {
        font-size: 30px;
    }
}

h3,
.h3 {
    color: $text-color;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;

    @media (width <= 767px) {
        font-size: 18px;
    }
}

h4,
.h4 {
    color: $text-color;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;

    @media (width <= 767px) {
        font-size: 18px;
    }
}

h5,
.h5 {
    color: $text-color;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;

    @media (width <= 767px) {
        font-size: 18px;
    }
}

p,
.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 20px 0 0;
    color: $text-color;

    > a {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: $theme-color;

        &:hover {
            text-decoration: none;
            color: $theme-color;
        }
    }

    > strong {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: $text-color;
    }

    > span {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: $text-color;
    }
}

.text-medium {
    font-size: 16px;
    line-height: 25px;
}

.text-small {
    font-size: 12px;
    line-height: 18px;
}

.text-gray {
    color: $gray;
}

ul > li,
ol > li,
ul.wp-block-list li,
ol.wp-block-list li {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $text-color;

    > strong {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: $text-color;
    }

    > span {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: $text-color;
    }
}
