$white: #fff;
$black: #000;

$dark: #494a4c;
$gray: #a1a1a1;
$light-gray: #eee;
$very-light-gray: #f3f3f3;
$very-light-gray2: #f5f5f5;

$theme-color: #007d88;
$theme-color2: #d9eced;
$text-color: #494a4c;

$border-color: #a1a1a1;
$input-color: #494a4c;

$error-color: #d42c2c;

$font-primary: "Inter", sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 15px;

$button-shadow-soft: rgba($theme-color, 0.18);
$button-shadow-strong: rgba($theme-color, 0.28);
$button-focus-ring: rgba($theme-color, 0.32);
