.askee-about {
    width: 100%;

    &__welcome-wrapper {
        width: 100%;
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__icons {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        padding: 20px 40px;
        background: $very-light-gray;
        border-radius: 10px;
        margin: 20px 0 0;
    }

    &__item {
        width: auto;

        img {
            max-height: 114px;
        }

        h4 {
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 15px 0 0;
        }

        &:nth-child(2) {
            img {
                max-height: 155px;
            }
        }
    }
}
