.askee-chat {
    width: 100%;

    &__wrapper {
        width: 100%;
    }

    &__title {
        @extend .h2;
        margin: 0 auto 100px;
        text-align: center;

        @media (width <= 767px) {
            margin: 0 auto 50px;
        }
    }

    &__box {
        width: 100%;
        border: 1px solid $theme-color;
        border-radius: 18px;
        padding: 25px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    &__content {
        display: none;
        opacity: 0;

        &--active {
            display: block;
            opacity: 1;
        }

        > div {
            width: 100%;
            padding: 0 0 0 36px;
        }
    }

    &__welcome {
        margin: 0;
        display: flex;
        align-items: flex-start;
        gap: 15px;

        &::before {
            content: "";
            display: block;
            background: url("./images/askee-man-small.svg") center/contain no-repeat;
            width: 21px;
            height: 29px;
            flex-shrink: 0;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0 0 0 36px;

        textarea {
            width: 100%;
            height: 25px;
            overflow-y: hidden;
        }

        button {
            flex-shrink: 0;
        }
    }

    &__buttons {
        display: flex;
        gap: 15px;
        margin: 30px auto 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        @media (width <= 767px) {
            justify-content: flex-start;
        }
    }
}
