.askee-chat {
    width: 100%;

    &__wrapper {
        width: 100%;
    }

    &__box {
        width: 100%;
        border: 1px solid $theme-color;
        border-radius: 18px;
        padding: 25px;
        min-height: 400px;
    }

    &__content {
        display: none;
        opacity: 0;

        &--active {
            display: block;
            opacity: 1;
        }
    }

    &__welcome {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 15px;

        &::before {
            content: "";
            display: block;
            background: url("./images/askee-man-small.svg") center/contain no-repeat;
            width: 21px;
            height: 29px;
        }
    }
}
