.askee-contact {
    &__content {
        display: flex;
        width: 100%;
        max-width: 505px;
        gap: 30px;
        align-items: center;
        margin: 20px 0 0;
    }

    &__image {
        width: 167px;
        flex-shrink: 0;

        img {
            width: 100%;
        }
    }

    &__info {
        padding: 20px;
        border-radius: 10px;
        background: $very-light-gray;

        p {
            @extend .text-medium;

            &:first-of-type {
                font-weight: 600;
                margin: 0;
            }
        }

        a {
            @extend .paragraph;
            @extend .text-medium;
        }
    }
}
