.askee-homepage {
    width: 100%;

    &__wrapper {
        width: 100%;
    }

    &__slider {
        width: 100%;
    }

    &__content {
        width: 100%;
        position: relative;
    }

    &__boxes {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @media (width <= 991px) {
            flex-direction: column;
            gap: 15px;
        }
    }
}
