.askee-background-blobs {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    top: 0;
}

.askee-blob {
    position: absolute;
    border-radius: 50%;
    background-color: #69e7d2;
    filter: blur(66px);
    opacity: 1;
    will-change: transform;
    transform: translate3d(0, 0, 0);

    &--top-right {
        width: 400px;
        height: 400px;
        top: -171px;
        right: -180px;
    }

    &--bottom-left {
        width: 400px;
        height: 400px;
        bottom: 200px;
        left: -270px;

        @media (width <= 767px) {
            bottom: -300px;
            left: auto;
            right: 20%;
        }
    }
}
