.button {
    position: relative;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    white-space: initial;
    flex-shrink: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);

    &--light {
        padding: 10px 20px;
        border-radius: 100px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        border: 1px solid $theme-color2;
        background: $theme-color2;
        color: $text-color;

        &:hover {
            border: 1px solid $theme-color;
            background: $theme-color;
            color: $white;
        }
    }

    &--ghost {
        padding: 9.5px 15px;
        border-radius: 100px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1;
        border: 1px solid $border-color;
        background: transparent;
        color: $text-color;

        &:hover {
            border: 1px solid $theme-color;
            background: $theme-color;
            color: $white;
        }
    }

    &--filled,
    &--active {
        border: 1px solid $theme-color;
        background: $theme-color;
        color: $white;

        &:hover {
            border: 1px solid $theme-color;
            background: $theme-color;
            color: $white;
        }
    }

    &--big {
        padding: 5px 20px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        border: 1px solid $theme-color;
        background: $theme-color;
        color: $white;

        &:hover {
            border: 1px solid $theme-color;
            background: $theme-color;
            color: $white;
        }
    }

    &--header {
        padding: 10px 53px;
        border-radius: 100px;
        font-size: 18px;
        font-weight: 400;
        text-transform: lowercase;
        line-height: 1;
        border: 1px solid $theme-color;
        background: $white;
        color: $text-color;

        &:hover {
            border: 1px solid $theme-color;
            background: $theme-color;
            color: $white;
        }
    }
}
