.inputs {
    all: unset;
    font-size: 16px;
    line-height: 25px;
    color: $gray;
    font-family: $font-primary;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
    @extend .inputs;
}
