.askee-sidebar {
    padding: 130px 0 0;
    width: 100%;

    @media (width <= 767px) {
        padding: 50px 0 0;
    }

    &__title,
    &__link {
        @extend .paragraph;
        @extend .text-small;
        font-weight: 600;
        display: block;
    }

    &__title {
        margin: 0;
    }

    &__link {
        margin: 15px 0 0;
    }

    &__list {
        li {
            a {
                @extend .paragraph;
                @extend .text-small;
                margin: 15px 0 0;
            }
        }
    }
}

.askee-page-blog {
    .askee-sidebar {
        padding: 0;

        @media (width <= 767px) {
            margin: 30px 0 0;
        }
    }
}
