.slick-dots {
    display: flex;
    justify-content: center;
    max-width: initial;
    position: fixed;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);

    @media (width <= 1250px) {
        margin: 50px auto 0;
    }

    @media (width <= 991px) {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    li {
        padding: 0 5px;
        list-style: none;

        &::before {
            display: none;
        }

        button {
            width: 140px;
            height: 7px;
            background: $light-gray;
            font-size: 0;

            @media (width <= 991px) {
                width: 50px;
            }
        }

        &.slick-active {
            button {
                background: $theme-color;
            }
        }

        @media (width <= 767px) {
            margin: 5px;
        }
    }

    @media (width <= 767px) {
        flex-direction: row;
        justify-content: center;
    }
}
