.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    font-size: 0;
    color: transparent;
    transition: opacity 0.3s ease;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $theme-color;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 492.004 492.004'%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 492.004 492.004'%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-position: center;
        transition: background-color 0.3s ease;
    }

    &.slick-disabled {
        pointer-events: none;
        cursor: default;

        &::before {
            background-color: $light-gray;
        }
    }
}

.slick-prev {
    left: -50px;

    &::before {
        transform: scaleX(-1);
    }

    @media (width <= 767px) {
        left: 10px;
    }
}

.slick-next {
    right: -50px;

    @media (width <= 767px) {
        right: 10px;
    }
}
