.askee-social-media {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 30px 0;

    a {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 28px;
        height: 28px;

        img,
        svg {
            max-width: 100%;
        }
    }
}
